* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;
}
.App {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left {
    flex: 1;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #e2e2e2;
    overflow-y: scroll;
}
.left .msg {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    border-bottom: 2px solid #000;
}
.left .msg .name {
    min-width: 100px;
    border-right: 2px solid #000;
    margin-right: 20px;
}
.right {
    flex: 1;
    height: 100%;
    padding: 20px;
}
.right button {
    margin-right: 20px;
}
.right .map {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid #000;
}
.right .map .player {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #ccc;
}
.right .map .empty {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}
.right .map .speaker {
    position: absolute;
    left: 20px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    background-color: #ccc;
}
